### Polymorphism in Functions

Image from sir's notebook

In [1]:
a="Raman"
type(a)

str

In [2]:
len(a)

5

In [5]:
b = [1,2,3,4,5,6,11]
type(b)

list

In [6]:
len(b)

7

In [7]:
c = ("a","b",True)
type(c)

tuple

In [8]:
len(c)

3

In [9]:
marks = {
   "Rahul":78,
   "Raman":83,
   "Priya":94,
   "Suresh":81
}

In [10]:
len(marks)

4

In [11]:
students = {
   "roll_no":[1,2,3],
   "name":["John","Jane","Raman"]
}

type(students)

dict

In [12]:
import pandas as pd
df = pd.DataFrame(students)
df

   roll_no   name
0        1   John
1        2   Jane
2        3  Raman

In [14]:
len(df) # Return number of rows

3

### Polymorphism in Operators

Copy image from sir's file

In [15]:
12 + 13

25

In [16]:
2.5 + 4.7

7.2

In [18]:
"Example" + "Random" # String concatination

'ExampleRandom'

In [20]:
a = [3, 4, 5]
b = [8, 9, 10]
a+b # List concatenation and merge two lists into single list

[3, 4, 5, 8, 9, 10]

In [22]:
b + a # Order of list matters

[8, 9, 10, 3, 4, 5]

In [23]:
a*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [25]:
d = "example"
d*4 # which is equal to d + d + d + d

'exampleexampleexampleexample'

### Polymorphism in classes

In [26]:
class India:

   def capital(self):
      print("New Delhi is capital of India")

   def language(self):
      print("Hindi is widely sopken language")

In [27]:
class USA:

   def capital(self):
      print("Washington D.C. is capital of USA")

   def language(self):
      print("English is widely spoken is USA")

In [28]:
class France:

   def capital(self):
      print("Paris is capital of France")
   
   def language(self):
      print("French is widely spoken in France")

In [29]:
c1 = India()
c2 = USA()
c3 = France()

In [30]:
type(c1)

__main__.India

In [31]:
type(c2)

__main__.USA

In [32]:
type(c3)

__main__.France

In [33]:
c1.capital()

New Delhi is capital of India

In [34]:
c1.language()

Hindi is widely sopken language

In [35]:
c2.capital()

Washington D.C. is capital of USA

In [36]:
c2.language()

English is widely spoken is USA

In [37]:
c3.capital()

Paris is capital of France

In [38]:
c3.language()

French is widely spoken in France

In [39]:
for i in (c1, c2, c3):
   print(type(i))
   i.capital()
   i.language()
   print("\n===========================\n")

<class '__main__.India'>
New Delhi is capital of India
Hindi is widely sopken language

===========================

<class '__main__.USA'>
Washington D.C. is capital of USA
English is widely spoken is USA

===========================

<class '__main__.France'>
Paris is capital of France
French is widely spoken in France

===========================

### Polymorphisim in calculating area and perimeter of different shapes

In [40]:
class Rectangle:
   def __init__(self, width, height):
      self.width = width
      self.height = height

   def perimeter(self):
      return 2 * (self.width + self.height)
   
   def area(self):
      return self.width * self.height

In [41]:
from math import pi
pi

3.141592653589793

In [42]:
class Circle:
   def __init__(self,radius):
      self.radius = radius

   def perimeter(self):
      return 2*pi*self.radius
   
   def area(self):
      return pi * (self.radius**2)

In [43]:
s1 = Rectangle(10,12)
s2 = Circle(12)
s3 = Rectangle(3, 6)
s4 = Rectangle(3,3)

In [44]:
shape_ = (s1, s2, s3, s4)

for i in shape_:
   print(f"Perimeter: {i.perimeter():.2f}")
   print(f"Area: {i.area():.2f}")
   print("\n================================\n")

Perimeter: 44.00
Area: 120.00

================================

Perimeter: 75.40
Area: 452.39

================================

Perimeter: 18.00
Area: 18.00

================================

Perimeter: 12.00
Area: 9.00

================================