### Functions - Variadic Functions

##### Type hinting and docstring is optional but its considered as best practice

In [1]:
def multiply(a:int|float, b:int|float)-> int|float: # This way is also called as type hinting
   """
   This function multiplies the two numbers
   Output is int or float
   """
   m = a*b
   return m

In [2]:
# Arguments 
multiply(3,4)

12

In [3]:
# Keword arguments
multiply(a=12.5, b=4)

50.0

In [4]:
# We cannot call the multiply function using 3 or more arguments or less than 2 arguments
multiply(2,3,4)

TypeError: multiply() takes 2 positional arguments but 3 were given

In [5]:
multiply(3)

TypeError: multiply() missing 1 required positional argument: 'b'

#### Hence we use variadic functions
##### We want flexibility in number of input arguments
*args - this acts like tuple

In [6]:
def func1(*args): # Here *args acts as tuple
   print(args)
   print(type(args))
   for i in args:
      print(f"i: {i}")

In [7]:
func1(1,2,"Example")

(1, 2, 'Example')
<class 'tuple'>
i: 1
i: 2
i: Example

In [8]:
func1(1,2,False,True,"A",14.5,12.5)

(1, 2, False, True, 'A', 14.5, 12.5)
<class 'tuple'>
i: 1
i: 2
i: False
i: True
i: A
i: 14.5
i: 12.5

In [9]:
func1(1)

(1,)
<class 'tuple'>
i: 1

In [10]:
b=[1,2,"Example",4.5,11.2, False]

In [11]:
func1(*b) # Whenever we use * along with list it unpacks the list

(1, 2, 'Example', 4.5, 11.2, False)
<class 'tuple'>
i: 1
i: 2
i: Example
i: 4.5
i: 11.2
i: False

### Multiplying multiple numbers

In [12]:
def product(*args):
   # Initialize the product to 1
   p=1

   #Apply for loop on args
   for i in args:
      p=p*i

   # Return the product
   return p

In [13]:
product(3,5)

15

In [14]:
product(4.5, 1.2,3)

16.2

In [15]:
product(1,2,3,4,9,10,11)

23760

In [16]:
a = list(range(1,25))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [17]:
type(a)

list

In [18]:
product(*a) # list unpacking

620448401733239439360000

### Billing Example
1. Input [(productname, price, qty),(...)]
2. Perform billing and add 18% tax on base total

In [19]:
c1 = [
   ("Mobile", 45000, 1),
   ("Screen Guard", 1000, 2),
   ("Mobile Cover", 300, 2)
]

In [20]:
c1

[('Mobile', 45000, 1), ('Screen Guard', 1000, 2), ('Mobile Cover', 300, 2)]

In [21]:
def billing(tax_rate: int|float, *args):
   # Initialize base total to 0
   base_total = 0

   #Apply for loop on args
   for name, price, qty in args:
      item_total = price * qty
      base_total = base_total + item_total
      print(f"Product Name: {name}, Price:{price} INR, Qty: {qty} Nos")
      print(f"Item total: {item_total:.2f} INR")
      print("\n============================================================")

   # Applu tax rate on base total
   tax = (tax_rate/100)*base_total

   # Calculate final amount
   final_total = base_total + tax

   # Print the tax and final total
   print(f"Tax: {tax:.2f} INR")
   print(f"Final Total: {final_total:.2f} INR")

   return final_total

In [22]:
bill1 = billing(18, *c1)

Product Name: Mobile, Price:45000 INR, Qty: 1 Nos
Item total: 45000.00 INR

============================================================
Product Name: Screen Guard, Price:1000 INR, Qty: 2 Nos
Item total: 2000.00 INR

============================================================
Product Name: Mobile Cover, Price:300 INR, Qty: 2 Nos
Item total: 600.00 INR

============================================================
Tax: 8568.00 INR
Final Total: 56168.00 INR

In [23]:
bill1

56168.0

In [24]:
bill2 = billing(
   18,
   ("Laptop", 67000, 2),
   ("Mouse", 500, 4),
   ("Keyboard", 1200, 1),
   ("VR headset", 12000, 1)
)

Product Name: Laptop, Price:67000 INR, Qty: 2 Nos
Item total: 134000.00 INR

============================================================
Product Name: Mouse, Price:500 INR, Qty: 4 Nos
Item total: 2000.00 INR

============================================================
Product Name: Keyboard, Price:1200 INR, Qty: 1 Nos
Item total: 1200.00 INR

============================================================
Product Name: VR headset, Price:12000 INR, Qty: 1 Nos
Item total: 12000.00 INR

============================================================
Tax: 26856.00 INR
Final Total: 176056.00 INR

In [25]:
bill2

176056.0

### Declare kwargs in python
**kwargs - This acts like a dictionary in Python

In [26]:
def func2(**kwargs):
   print(kwargs)
   print(type(kwargs))
   for key, value in kwargs.items():
      print(f"Key: {key}, Value: {value}")

In [28]:
func2(name="Rahul, age=28")

{'name': 'Rahul, age=28'}
<class 'dict'>
Key: name, Value: Rahul, age=28

In [27]:
func2(name="Aditi", age=32, email="aditi@gmail.com", blood_group="A+ve")

{'name': 'Aditi', 'age': 32, 'email': 'aditi@gmail.com', 'blood_group': 'A+ve'}
<class 'dict'>
Key: name, Value: Aditi
Key: age, Value: 32
Key: email, Value: aditi@gmail.com
Key: blood_group, Value: A+ve

### Using the kwargs to creat users with varied information

In [29]:
def create_user(**kwargs):
   user = {
      "name":"Not Available",
      "age":"Not Available",
      "occupation":"Not Available",
      "email":"Not Available"
   }

   user.update(kwargs)
   return user

In [30]:
u1 = create_user(name="Rakesh", age=32)

In [31]:
u1

{'name': 'Rakesh',
 'age': 32,
 'occupation': 'Not Available',
 'email': 'Not Available'}

In [34]:
u2 = create_user(
   name = "Tejas",
   age =  25,
   occupation ="HR",
   email = "tejas@gmail.com",
   contact = 9876543210,
   blood_group = "B+ve"
)

In [35]:
u2

{'name': 'Tejas',
 'age': 25,
 'occupation': 'HR',
 'email': 'tejas@gmail.com',
 'contact': 9876543210,
 'blood_group': 'B+ve'}